#!/bin/bash

# if [ -z "$(ls -A /{{ prop_basename}}/zabbix/data)" ]; then
#     cp /{{ prop_basename }}/zabbix/defaults/settings.js /{{ prop_basename }}/zabbix/data
#     cp /{{ prop_basename }}/zabbix/defaults/flows.json /{{ prop_basename }}/zabbix/data
# fi

# chmod -R 777 /{{ prop_basename }}/zabbix/data

